.nav-container {
  display: flex;
  align-items: center;
  width: 100%;
  background: #eee;
  padding: 10px;
  font-size: large;
}

.nav-item {
  flex-grow: 2;
  color: inherit;
  padding: 10px;
}

.logo {
  flex-grow: 1;
}