.nav-container {
  display: flex;
  align-items: center;
  width: 100%;
  background: #eee;
  padding: 10px;
  font-size: large;
}

.inner-nav-container {
  display: flex;
  width: 100%;
}

.nav-item {
  flex-grow: 2;
  color: inherit;
  padding: 10px;
  cursor: pointer;
}

.logo {
  flex-grow: 1;
  text-align: left;
}

.burger, .close {
  text-align: right;
}

@media only screen and (max-width: 600px) {
  .nav-container, .inner-nav-container {
    flex-direction: column;
  }

  .nav-main-icons {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
}