.nav-container {
  display: flex;
  align-items: center;
  width: 100%;
  background: #eee;
  font-size: large;
}

.inner-nav-container {
  display: flex;
  width: 100%;
}

.nav-main-icons {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.nav-item {
  flex-grow: 2;
  color: inherit;
  padding: 10px;
  cursor: pointer;
}

.nav-main-icons > * {
  cursor: auto;
  flex-grow: 1;
}

.logo {
  text-align: left;
  cursor: pointer;
}

.burger, .close {
  text-align: right;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .nav-container, .inner-nav-container {
    flex-direction: column;
  }
}
